
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{ list-style: none;}

a,
img,
button,
ion-icon { display: block;}

a{
 color: inherit;
 text-decoration: none;
}

img { height: auto;}

button { 
    cursor: pointer; 
    background: none;
    border: none;
    font: inherit;}

ion-icon { pointer-events:none; }

html{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    background-color: rgb(240, 255, 255);
    color: rgb(93, 97, 101);
    font-size: 1.6rem;
    line-height: 1.8;
    height: 300vh;
}

body.nav-active{overflow: hidden;}
.container {
    padding-inline: 16px;
    padding: 0px 50px 0px 50px;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header{
    padding-block: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
}

.header.active {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 2px 10px;

    animation: slideIn 500ms ease forwards;
}

@keyframes slideIn{
    0% {transform: translateY(-100%);}
    100% { transform: translateY(0);}
}

.header .logo img{width: 160px;}

.nav-toggle-btn { font-size: 3.2rem;}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    z-index: 1;
    transition-duration: 500ms;
   
}

.navbar-list{
    margin-block-start: 0px;
    display: flex;
    gap: 50px;
    margin-inline: auto;
    justify-content: space-between;
}

.navbar-link{
    position: relative;
    color: rgb(26, 31, 50);
    font-size: 1.7rem;
    font-weight: 500;
    padding-block: 10px;
    transition: 250ms ease;
}

.navbar-link::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 3px;
    top: auto;
    bottom: 0;
    background-color: rgb(37, 86, 245);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    opacity: 0;
    transition: 250ms ease;
    
}

.navbar-link:is(:hover, :focus-visible, .active)::before{opacity: 1;}

.header-action{
    margin-right: 50px;
    display: flex;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
}

.login-btn{
    color:  rgb(26, 31, 50);
    font-size: 1.5rem;
    font-weight: 500 ;
    transition: 250ms ease;
}

.login-btn:is(:hover, :focus-visible){opacity: 0.8;}

.btn {
    height: 50px;
    color: #fff;
    padding-inline: 30px;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: max-content;
    transition: 250ms ease;
}

.btn-primary{background-color: rgb(37, 86, 245);}

.btn-primary:is(:hover, :focus-visible) {
    background-color: rgb(4, 41, 163);
    box-shadow: 0 5px 10px;
}

.category{
    margin-top: 150px;
}

.cate-list{ 
    margin-block-start: 50px; 
    display: flex;

}

.cate-link {
    position: relative;
    color: rgb(26, 31, 50);
    font-size: 2rem;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 500;
    transition: 250ms ease;
    text-align: center;
    
}

.cate-link:after {
    content: "";
    position: absolute;
    background-color: rgb(41, 148, 255);
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.cate-link:hover:after{
    width: 100%;
}  

.cate-link:is(:hover, :after, :focus-within) {
    color:  rgb(41, 148, 255);
}

.category-sea-life {
    position: relative;
    text-align: center;
}
.title {
    color: rgb(21, 36, 50);
    font-weight: 600;
    line-height: 1.45;
    padding: 10px 2px 10px 2px;
 
    
}
.main-cate-content{
    background-color: rgb(202, 237, 237);
    padding: 30px 20px;
    text-align: center;
    border-radius: 30px;

}

.main-cate-content .main-cate-title {margin-block: 0 20px;}

.main-cate-content .h1 {
    font-size: 3rem;
    line-height: 1.2;
    padding-bottom: 30px;
}

.main-cate-content .h2 { 
    font-size: 2.5rem;
    line-height: 1.2;
    text-transform: uppercase;
    color: rgb(37, 86, 245);
    
 }


.main-cate-name {
    color: rgb(93, 97, 101);
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    text-transform: uppercase;
    
}
.infor-ani .container{
    display: flex;
    gap: 30px;
    margin-top: 18px;

}

.infor-ani .container .text-infor-ani{
    height: 100%;
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0px 1px 3px 3px #cccbcb;
}
.detail .title {
    display: flex;
    
}
.detail .title p {
    padding-left: 5px;
    
}
.h2 { 
    font-size: 2.5rem;
    line-height: 1.2;
    text-transform: uppercase;
 }

.content{
    color: rgb(21, 36, 50);
    font-size: 1.5rem;
    padding-left: 30px;

}
.infor-ani .container .img-infor-ani .carousel{
    border-radius: 10px;
    box-shadow: 0px 1px 3px 3px #cccbcb;
    
}

.img-infor-ani .carousel .main{
    width: 760px;
    height: 340px;
    padding: 10px;
    margin-bottom: 5px;
    
}

.list-image{
    display: flex;
    justify-content: space-between;
}

.list-image div{
    flex: 1;
    padding: 5px;
}

.carousel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
 
}

.control{
    position: absolute;
    top: 540px;
    font-size: 50px;   
}
.control ion-icon{
    color: #fff;
    background-color: rgb(26, 31, 50);
    border-radius: 5px;
    transition: 250ms ease;  
}

.prev{
    left: 500px;
}

.next{
    right: 50px;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 500ms ease;
}
.w-100 { width: 100%; }

.seli .container { 
    margin-top: 50px;

   
}  

.seli-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    
}
.img-holder {
    aspect-ratio: 0.923/1 ;
    background-color: rgb(217, 216, 216);
    overflow: hidden;
}
.seli-card .card-banner {
    position: relative;
    border-radius: 30px;
}

.seli-card:is(:hover, :focus-within) .img-cover { transform: scale(1.05);}

.seli-card .card-name{
    position: absolute;
    top: 20px;
    right: 5px;
    background-color: #fff;
    color: rgb(41, 148, 255);
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.45;
    padding: 5px 15px;
    border-radius: 30px;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #383838;
    padding: 20px 0px 20px 100px;
    
    
}

.pagination li{
    display: inline-block;
    margin: 0 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 45px;
    cursor: pointer;
}

.pagination li.active{
    color: #fff;
    background-image: linear-gradient(rgb(41, 148, 255), rgb(41, 148, 255));
    background-repeat: no-repeat;
    background-position: 0 0;
    
}

.footer-top {
    display: grid;
    /* gap: 40px; */
    padding-block: 60px;
    grid-template-columns: 1fr 0.5fr 0.6fr 0.6fr 1fr;
    gap: 60px;
}

.footer .log img { width: 180px;}

.footer-brand .footer-text { margin-block: 20px;}

.social-list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-link {
    color: rgb(37, 86, 245);
    font-size: 2rem;
    padding: 10px;
    border-radius: 200px;
    transition: 250ms ease;
}

.social-link:is(:hover, :focus-visible) {
    background-color: rgb(37, 86, 245);
    color: #fff;
}

.footer-list-title{
    color: rgb(21, 36, 50);
    font-size: 2rem;
    font-weight: 600;
    /* margin-block-end: 15px; */
    margin-block-end: 25px;
}

.footer-bottom-list {gap: 40px;}

.footer-link{margin-block-start: 10px;}

.footer-link:is(:hover, :focus-visible) {text-decoration: underline;}

.footer-list .footer-text {margin-block-end: 15px;}

.footer-brand .footer-text {margin-block: 35px 30px;}

.input-field {
    height: 55px;
    padding-inline: 25px 60px;
    border: 1px solid rgb(93, 97, 101);
    border-radius: 200px;
    color: rgb(21, 36, 50);
}

.input-wrapper {position: relative;}

.input-field:focus {border-color: rgb(37, 86, 245); }

.input-btn{
    width: 45px;
    height: 45px;
    background-color: rgb(37, 86, 245);
    font-size: 2rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    transition: 250ms ease;
    color:#fff;

}

.input-btn ion-icon {transform: translateX(-2px) rotate(45deg);}

.input-btn:is(:hover, :focus-visible) {background-color: rgb(41, 148, 255);}

.footer-bottom {
    padding-block: 30px;
    display: flex;
    justify-content: space-between;
    border-block-start: 1px solid rgb(217, 216, 216);
}

.footer-bottom-list{
    display: flex;
    gap: 40px;
}

.copyright { margin-block-end: 20px;}

.copyright-link {
    display: inline-block;
    color: rgb(37, 86, 245);
    font-weight: 500;
}

.footer-bottom-link:is(:hover, :focus-visible) {text-decoration: underline;}