*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{ list-style: none;}

a,
img,
span
{ display: block;}

a{
 color: inherit;
 text-decoration: none;
}

img { height: auto;}


html{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    background-color: rgb(240, 255, 255);
    color: rgb(93, 97, 101);
    font-size: 1.6rem;
    line-height: 1.8;
    height: 100vh;
}


.cate-list{ 
    margin-block-start: 50px; 
    display: flex;
}

.cate-link {
    position: relative;
    color: rgb(26, 31, 50);
    font-size: 2rem;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 500;
    transition: 250ms ease;
    text-align: center;
    
}


.cate-link:after {
    content: "";
    position: absolute;
    background-color: rgb(41, 148, 255);
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.cate-link:hover:after{
    width: 100%;
}  

.cate-link:is(:hover, :after, :focus-within) {
    color:  rgb(41, 148, 255);
}


.category-sea-life {
    position: relative;
    text-align: center;
}
.main-cate-content{
    background-color: rgb(202, 237, 237);
    padding: 30px 20px;
    text-align: center;
    border-radius: 30px;

}
.title {
    color: rgb(21, 36, 50);
    font-weight: 600;
    line-height: 1.45;
    padding: 20px 0 10px 0;
}

.main-cate-content .h1 {
    font-size: 3rem;
    line-height: 1.2;
    padding-bottom: 30px;
}

.main-cate-content .h2 { 
    font-size: 2.5rem;
    line-height: 1.2;
    text-transform: uppercase;
    color: rgb(37, 86, 245);
 }


.main-cate-text {
    color: rgb(41, 148, 255);
    text-align: center;
    font-weight: 400;
    padding-bottom: 20px;
    margin-inline: 270px;
    
}

.seli .container { 
    margin-top: 50px;

   
} 

.seli-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    
}
.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 500ms ease;
}
.w-100 { width: 100%; }

.img-holder {
    aspect-ratio: 0.923/1 ;
    background-color: rgb(217, 216, 216);
    overflow: hidden;
}
.seli-card .card-banner {
    position: relative;
    border-radius: 30px;
}

.seli-card:is(:hover, :focus-within) .img-cover { transform: scale(1.05);}

.seli-card .card-name{
    position: absolute;
    top: 20px;
    right: 5px;
    background-color: #fff;
    color: rgb(41, 148, 255);
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.45;
    padding: 5px 15px;
    border-radius: 30px;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #383838;
    padding: 20px 0px 20px 100px;
    
    
}

.pagination li{
    display: inline-block;
    margin: 0 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 45px;
    cursor: pointer;
}

.pagination li.active{
    color: #fff;
    background-image: linear-gradient(rgb(41, 148, 255), rgb(41, 148, 255));
    background-repeat: no-repeat;
    background-position: 0 0;
    
}