*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{ list-style: none;}

a,
img,
span,
input,
button,
ion-icon { display: block;}

a{
 color: inherit;
 text-decoration: none;
}

img { height: auto;}

input,
button {
    background: none;
    border: none;
    font: inherit;
}

input {
    width: 100%;
    outline: none;
}

button { cursor: pointer; }

ion-icon { pointer-events:none; }

address { font-style: normal; }

html{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    background-color: rgb(240, 255, 255);
    color: rgb(93, 97, 101);
    font-size: 1.6rem;
    line-height: 1.8;
    height: 300vh;
}

body.nav-active {overflow: hidden;}
.container { padding-inline: 16px; }

.btn {
    height: 50px;
    color: #fff;
    padding-inline: 30px;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: max-content;
    transition: 250ms ease;
}

.btn-primary { background-color: rgb(37, 86, 245);}

.btn-primary:is(:hover, :focus-visible) {
    background-color: rgb(4, 41, 163);
    box-shadow: 0 5px 10px;
}

.btn-secondary { background-color: rgb(249, 72, 81);}

.btn-secondary:is(:hover, :focus-visible) {
    background-color: rgb(212, 58, 66);
    box-shadow: 0 5px 10px;
}

.section { padding-block-end: 80px; }

.has-bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title {
    color: rgb(21, 36, 50);
    font-weight: 600;
    line-height: 1.45;
}
.h1 {
    font-size: 4.2rem;
    line-height: 1.2;
}

.h2{ font-size: 3.6rem; }

.h3 { font-size: 2.4rem; }

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 500ms ease;
}
.w-100 { width: 100%; }

.section-subtitle {
    color: rgb(41, 148, 255);
    font-weight: 500;
    text-transform: uppercase;
}

.section-title {margin-block: 10px;}

.img-holder {
    aspect-ratio: 0.923/1 ;
    background-color: rgb(217, 216, 216);
    overflow: hidden;
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(240, 255, 255);
    display: grid;
    place-content: center;
    z-index: 6;
    transition: 250ms ease;
}

.preloader.remove{
    visibility: hidden;
    opacity: 0;
}

.preloader .img{
    animation: bounce 800ms ease-in-out infinite alternate;
}

@keyframes bounce {
    0% { transform: translateY(-10px);}
    100% { transform: translateY(0);}
}

.overlay{
    display: none;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding-block: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
}

.header.active {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 2px 10px;
    
    animation: slideIn 500ms ease forwards;
}

@keyframes slideIn {
    0% { transform: translateY(-100%); }
    100% {transform: translateY(0); }
}

.header .logo img { width: 160px; }

.nav-toggle-btn { font-size: 3.2rem; }

.navbar {
    position: fixed;
    top: 0;
    right: -350px;
    max-width: 350px;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    padding: 30px 16px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition: 400ms cubic-bezier(0.05, 0.83, 0.52, 0.97);
    visibility: hidden;
}

.navbar.active {
    transform: translateX(-350px);
    transition-duration: 500ms;
    visibility: visible;
}

.navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar-list{ margin-block-start: 50px; }

.navbar-link {
    position: relative;
    color: rgb(26, 31, 50);
    font-size: 1.5rem;
    font-weight: 500;
    padding-block: 8px;
    transition: 250ms ease;
}

.navbar-link::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 10px;
    background-color: rgb(37, 86, 245);
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    border-radius: 5px;
    opacity: 0;
    transition: 250ms ease;
}

.navbar-link:is(:hover, :focus-visible, .active)::before {opacity:1; }

.navbar-link:is(:hover, :focus-visible, .active) { transform: translateX(10px)}

.header-action {
    margin-block-start: auto;
    padding-block-start: 10px;
    border-block-start: 1px solid rgb(217, 216, 216);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login-btn {
    color:  rgb(26, 31, 50);
    font-size: 1.5rem;
    font-weight: 500 ;
    transition: 250ms ease;
}

.login-btn:is(:hover, :focus-visible) { opacity: 0.8; }

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    opacity: 0.5;
    visibility: hidden;
    transition: 500ms ease;

}

.overlay.active {
    visibility: visible;
    opacity: 0.5;
}

.main { padding-block-start: 150px; }

.main .container {
    display: grid;
    gap: 50px;
}

.main-subtitle {
    background-color: rgb(186, 233, 247);
    color: rgb(21, 36, 50);;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: max-content;
    padding: 8px 20px;
    border-radius: 200px;
}

.main-title { margin-block: 20px; }

.main-text { margin-block-end: 30px;}

.main .btn-secondary { margin-block-end: 20px;}

.main-btn {
    color: rgb(21, 36, 50);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 30px;
    transition: 250ms ease;
}

.main-btn .btn-img {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: rgb (217, 217, 217);
    border-radius: 50%;;
    box-shadow: 0 2px 10px;
}

.main-btn .img-cover { border-radius: inherit; }

.main-btn ion-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 10px;
}

.main-btn:is(:hover, :focus-visible) { color: rgb(37, 86, 245);}

.event .container {
    display: grid;
    gap: 25px;
}

.event-card:nth-child(2) { background-color: rgb(202, 237, 237);}
.event-card:nth-child(3) { background-color: rgb(202, 237, 237);}
.event-card:nth-child(4) { background-color: rgb(202, 237, 237);}

.event-card {
    padding: 25px 20px;
    border-radius: 20px;
}

.event-card .card-title { margin-block: 10px 15px;}

.seli .section-title {margin-block-end: 40px;}

.seli-list {
    display: grid;
    gap: 30px;
}

.seli-card .card-banner {
    position: relative;
    border-radius: 30px;
}


.seli-card:is(:hover, :focus-within) .img-cover { transform: scale(1.05);}

.seli-card .card-title {
    margin-block: 15px 5px;
    transition: 250ms ease;
}

.seli-card .card-title:is(:hover, :focus-visible) { color: rgb(37, 86, 245);}

.seli-card :is(.card-rating, .span) {
    display: flex;
    align-items: center;
}

.seli-card .card-rating {
    margin-block-start: 10px;
    gap: 10px;
}

.seli-card .card-rating .span {
    background-color: rgb(255, 251, 213);
    gap: 5px;
    padding: 4px 12px;
    border-radius: 200px;
}

.seli-card .card-rating ion-icon { color: rgb(255, 204, 0);}

.seli .btn {
    margin-inline: auto;
    margin-block-start: 40px;
}

.gallery .section-title {margin-block-end: 40px;}

.gallery-list {
    display: grid;
    gap: 15px;
}

.gallery .item-banner { border-radius: 30px;}

.cta-card {
    background-color: rgb(202, 237, 237);
    padding: 60px 20px;
    text-align: center;
    border-radius: 30px;
}

.cta .section-title .img { display: inline-block;}

.cta .section-title {margin-block: 0 20px;}

.cta .btn {
    margin-inline: auto;
    margin-block-start: 20px;
}

.footer-top {
    display: grid;
    gap: 40px;
    padding-block: 60px;
}

.footer .log img { width: 180px;}

.footer-brand .footer-text { margin-block: 20px;}

.social-list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-link {
    color: rgb(37, 86, 245);
    font-size: 2rem;
    padding: 10px;
    border-radius: 200px;
    transition: 250ms ease;
}

.social-link:is(:hover, :focus-visible) {
    background-color: rgb(37, 86, 245);
    color: #fff;
}

.footer-list-title{
    color: rgb(21, 36, 50);
    font-size: 2rem;
    font-weight: 600;
    margin-block-end: 15px;
}

.footer-link{margin-block-start: 10px;}

.footer-link:is(:hover, :focus-visible) {text-decoration: underline;}

.footer-list .footer-text {margin-block-end: 15px;}

.input-field {
    height: 55px;
    padding-inline: 25px 60px;
    border: 1px solid rgb(93, 97, 101);
    border-radius: 200px;
    color: rgb(21, 36, 50);
}

.input-wrapper {position: relative;}

.input-field:focus {border-color: rgb(37, 86, 245); }

.input-btn{
    width: 45px;
    height: 45px;
    background-color: rgb(37, 86, 245);
    font-size: 2rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    transition: 250ms ease;
    color:#fff;

}

.input-btn ion-icon {transform: translateX(-2px) rotate(45deg);}

.input-btn:is(:hover, :focus-visible) {background-color: rgb(41, 148, 255);}

.footer-bottom {
    padding-block: 30px;
    border-block-start: 1px solid rgb(217, 216, 216);
}

.copyright { margin-block-end: 20px;}

.copyright-link {
    display: inline-block;
    color: rgb(37, 86, 245);
    font-weight: 500;
}

.footer-bottom-link:is(:hover, :focus-visible) {text-decoration: underline;}

/**
 * respinsive for larger than 575px screen
 */

 @media(min-width: 575px) {
    .container {
        max-width: 540px;
        width: 100%;
        margin-inline: auto;
    }

    .navbar {
        padding-inline: 40px;
        padding-block-end: 40px;
    }

    .main-text {max-width: 42ch;}

    .main .wrapper {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .main .btn { margin-block-end: 0;}

    .event .container {
        grid-template-columns: 1fr 1fr;
        align-items: flex-start;
    }

    .seli-list {grid-template-columns: 1fr 1fr;}

    .footer-bottom-list {
        display: flex;
        gap: 30px;
    }
 }

 /**
 * respinsive for larger than 768px screen
 */

 @media(min-width: 768px) {

    .container {max-width: 720px;}

    .btn {
        height: 60px;
        padding-inline: 40px;
    }

    :is(.seli, .gallery) :is(.section-subtitle, .section-title) {
        text-align: center;
    }

    .preloader .img {width: 80px;}

    .main { padding-block-start: 180px;}

    .main-subtitle {
        padding: 10px 30px;
    }

    .main-btn {gap: 30px;}

    .main-btn .btn-img {
        width: 80px;
        height: 80px;
    }

    .main ion-icon {padding: 12px;}

    .main-banner {
        max-width: 550px;
        margin-inline: auto;
    }

    .event .container { gap:35px;}

    .event-card {padding:40px 30px;}

    .event-card .card-title { margin-block: 20px 10px;}

    .seli .section-title { margin-block-end: 65px;}

    .seli-list {gap: 50px 35px;}

    .seli-card .card-title {margin-block-start: 25px;}

    .seli .btn {margin-block-start: 60px;}

    .gallery .section-title {margin-block-end: 65px;}

    .gallery-list {
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

    .gallery-item:nth-child(n+3) {grid-column: 1 / 3;}

    .cta-card {padding: 80px 60px;}

    .cta .btn { margin-block-start: 30px;}

    .footer-top {grid-template-columns: 1fr 1fr;}

    .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .copyright {margin-block-end: 0;}
 }

/**
 * respinsive for larger than 992px screen
 */

 @media(min-width: 992px) {

   .container {max-width: 950px;}

   .nav-toggle-btn,
   .navbar-top,
   .overlay { display: none;}

   .navbar,
   .navbar.active {
    all: unset;
    display: flex;
    align-items: center;
    flex-grow: 1;
   }

   .navbar-list {
    margin-block-start: 0;
    display: flex;
    gap: 30px;
    margin-inline: auto;
   }

   .navbar-link:is(:hover, :focus-visible, .active) {transform: unset;}

   .navbar-link::before {
    width: 10px;
    height: 3px;
    top: auto;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
   }

   .header-action {
    border: none;
    padding-block-start: 0;
    gap: 30px;
   }

   .header.active { padding-block: 15px;}

   .main .container{
    grid-template-columns: 0.8fr 1fr;
    gap: 0;
    align-items: center;
   }

   .main .wrapper {flex-wrap: wrap;}

   .main-banner {max-width: unset;}

   .event .title-warpper {padding-inline-end: 100px;}

   .seli-list {
    grid-template-columns: repeat(3, 1fr);
   }

   .gallery-list {grid-template-columns: repeat(6,1fr);}

   .gallery-item:nth-child(n+3) {grid-column: auto;}

   .gallery .item-banner{
    aspect-ratio: unset;
    width: 100%;
    height: 100%;
   }

   .cta .sectoin-title {
    max-width: 25ch;
    margin-inline: auto;
   }
 }

/**
 * respinsive for larger than 1200px screen
 */

 @media(min-width: 1200px) {
    .container {max-width: 1150px;}

    .header .log img {width: 180px;}

    .navbar-list {gap: 50px;}

    .header-action {gap: 40px;}

    .main-title {margin-block: 30px;}

    .main-text {margin-block-end: 50px;}

    .event .container { grid-template-columns: repeat(3, 1fr);}

    .event .title-wrapper {grid-column: span 3;}

    .seli-card .card-price {
        font-size: 2rem;
        padding: 8px 20px;

    }

    .seli-card .card-title {margin-block: 30px 10px;}

    .seli-card .card-rating {margin-block-start: 15px;}

    .cta-card {padding-block: 120px;}

    .footer-top {
        grid-template-columns: 1fr 0.5fr 0.6fr 0.6fr 1fr;
        gap: 60px;
    }

    .footer-brand .footer-text {margin-block: 35px 30px;}

    .footer-list-title {margin-block-end: 25px;}

    .footer-bottom-list {gap: 40px;}
 }

  /**
 * respinsive for larger than 1400px screen
 */

 @media(min-width: 1400px) {
    .container {max-width: 1350px;}

    .navbar-list {gap:70px;}

    .event .section-title {margin-block-end: 20px;}

    .event .title-wrapper {
        grid-column: auto;
        padding-inline-end: 0;
    }

    .event .container {
        grid-template-columns: 1fr repeat(3, 0.9fr);
        gap: 50px;
    }

    .event-card:nth-child(3) {margin-block-start: 80px;}

    .seli-list {gap:50px;}

    .footer-top { padding-block-end: 80px;}
 }
